.register-main {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0 0 0 2rem;
  box-sizing: border-box;
  display: block;
  overflow-x: hidden;
}

/* .register-main {
  display: block;
  overflow-x: hidden;
} */

section {
  width: 100%;
  margin: 0;
  padding: 3rem 0 3rem 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section h1 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 3.6rem;
  color: var(--signIn-text-color);
  z-index: 10;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
}
.register-main form {
  z-index: 10;
}
.register-main form div {
  margin: 1.5rem 0;
}
.register-main form .input-group {
  display: flex;
  position: relative;
}
.register-main form .input-group > input {
  width: 65rem;
  height: 7.5rem;
  border: 1px solid var(--form-border-color);
  padding: 1rem;
  border-radius: 0.8rem;
  padding-left: 6rem;
  position: relative;
  background-color: var(--input-background-color);
}
.register-main form .input-group > input::placeholder {
  color: var(--input-placeholder-color);
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: medium;
  font-size: 1.6rem;
  color: var(--signIn-text-color);
}
.remember-me input {
  width: auto;
  display: inline-block;
}
.register-main form button {
  font-weight: medium;
  font-size: 1.6rem;
  width: 15rem;
  height: 7.5rem;
  background-color: var(--button-red-background-color);
  color: var(--button-red-item-color);
  border: none;
  border-radius: 0.8rem;
  margin: 1.5rem 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.register-main form button:active {
  background-color: var(--button-red-hover-background-color);
  scale: 0.9;
}
.social-register-no-account-container {
  font-weight: medium;
  font-size: 1.6rem;
  z-index: 10;
}
.social-register {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
}
.social-register span {
  margin-right: 1rem;
}
.create-one {
  color: var(--createOne-text-color);
  text-decoration: none;
}
.register-second-bg {
  position: fixed;
  bottom: -100px;
  right: -350px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 9;
  opacity: 0.4;
  pointer-events: none;
}

@media (max-width: 576px) {
  .register-main {
    padding: 2rem 0.5rem;
    overflow-x: hidden;
  }
  section {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 3rem 0;
  }

  .register-main form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .register-main form .input-group > input {
    width: 100%;
  }
  .register-second-bg {
    position: fixed;
    right: 0;
    bottom: -300px;
  }
}
