body {
  font-family: Poppins;
  background-color: var(--background-color);
  color: var(--main-text-color);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
html,
body {
  height: 100%;
  margin: 0;
}

.page-structure {
  display: grid;
  gap: 5rem;
  height: 100vh;
  grid-template-columns: 320px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header header'
    'sidepane main';
  position: relative;
}

header {
  grid-area: header;
  background: #d1e7dd;
  padding: 1rem;
}

.sidepane {
  grid-area: sidepane;
  /* overflow-y: auto; */
  min-height: 0;
  width: 32rem;
  background: black;
  border-radius: 0 0.8rem 0.8rem 0;
  border: 1px solid var(--sidepane-border-color);
  z-index: 1000;
}

main {
  grid-area: main;
  /* background: #cff4fc; */
  overflow: auto;
}
@media (max-width: 576px) {
  .page-structure {
    display: grid;
    gap: 0;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'header'
      'main';

    overflow: hidden;
    position: relative;
  }

  header {
    background: #d1e7dd;
    padding: 1rem;
  }

  .sidepane {
    display: none;
    padding: 1rem;
    min-height: 0;
  }

  main {
    grid-area: main;
    padding: 1rem;
    overflow-y: auto;
    /* min-height: 0; */
  }
}
