html {
  font-size: 62.5%;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f5f8ff;
  --main-text-color: #000000;
  --sidebar-color: #000000;
  --header-background-color: #f8f8f8;
  --header-black-text-color: #000000;
  --header-box-shadow: 0.2rem 0.4rem 0.4rem rgba(0, 0, 0, 0);
  --popUp-calendar-border-color: #000000;
  --button-red-background-color: #ff6767;
  ----button-red-hover-background-color: #fda2a2;
  --button-red-item-color: #ffffff;
  --section-border-color: #a1a3ab;
  --text-ash-color: #a1a3ab;
  --search-background-color: #f5f8ff;
  --search-placeholder-color: #a1a3ab;
  --red-text-color: #ff6767;
  --form-border-color: #565454;
  --black-icon-color: #212427;
  --signIn-text-color: #212427;
  --createOne-text-color: #008bd9;
  --static-white-color: #ffffff;
  --input-background-color: transparent;
  --input-placeholder-color: #999999;
  --Calendar-background-color: #f5f8ff;
  --notification-background-color: #d3d3d3;
  --box-shadow: rgba(0, 0, 0, 0.3);
  --sidepane-border-color: #000000;
}

[data-theme='dark'] {
  --background-color: #000000;
  --main-text-color: #ffffff;
  --sidebar-color: #000000;
  --header-background-color: #272727;
  --header-box-shadow: 0.2rem 0.4rem 0.4rem rgba(255, 255, 255, 0.568);
  --popUp-calendar-border-color: #ffffff;
  --button-red-background-color: #464545;
  --button-red-item-color: #ffffff;
  --section-border-color: #a1a3ab;
  --search-background-color: #f5f8ff;
  --black-icon-color: #999999;
  --signIn-text-color: #999999;
  --input-background-color: #797979;
  --input-placeholder-color: #dfdfdf;
  --Calendar-background-color: #272727;
  --notification-background-color: #272727;
  --box-shadow: rgba(255, 255, 255, 0.3);
  --sidepane-border-color: #ffffff;
}
